@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Curso MVC e API</h1>
    <p>Para aprender <a href="http://web.dio.me">Dio - desenvolvimento-de-aplicacoes-com-net</a>.</p>
</div>
